# Created by .ignore support plugin (hsz.mobi)
*/target
*/.idea'.idea''.idea'
# Others
.idea/
*.iml

.gradle
/.idea/workspace.xml
.DS_Store
/build
/capture

#local
*/out/
logs/
multi-module-syn/src/test/
/*/target/
/*/*/target/
